*	{
    margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #FAFAFA;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
}

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.tareas .lista {
	list-style: none;
}

.tareas .lista li {
	border-bottom: .5px solid #ffffff;
}

.tareas .lista li a {
	color: #050505;
	display: block;
	padding: 5px 0;
	text-decoration: none;
}
